@import "./normalize.css";
@import url("element-ui-cover.css");
/* @import "./element-ui-cover.css; */


/* 去除type-number的调节器 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}


input[type="number"] {
	-moz-appearance: textfield;
}

:root {
	/* nav: #00c58e
	   hover:#00e0a1
	   #0bc793
	 */
	
	
	
	--color-text: #666;
	--color-high-text: #ff5777;
	--color-tint: #ff8198;
	--color-background: #fff;
	--font-size: 16px;
	--line-height: 1.5;
	--lesson-bgc: #f9f8f6;
	
	--custom-bgc:#314658;
	--custom-green:#00c58e;
	--button-color-green: #00c58e;
	
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 12px/1.5 'Microsoft YaHei', arial, tahoma, \5b8b\4f53, sans-serif;

	user-select: none;
	/* 禁止用户鼠标在页面上选中文字/图片等 */
	-webkit-tap-highlight-color: transparent;
	/* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
	background: var(--color-background);
	color: var(--color-text);
	width: 100vw;
}

a {
	color: var(--color-text);
	text-decoration: none;
}


.clear-fix::after {
	clear: both;
	content: '';
	display: block;
	width: 0;
	height: 0;
	visibility: hidden;
}

.clear-fix {
	zoom: 1;
}

/* .arrow-right {
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	width: 9px;
	height: 9px;
	background-color: transparent;
	transform: rotate(135deg);
	display: inline-block;
	margin-left: .1rem;
} */

.left {
	float: left;
}

.right {
	float: right;
}

html,
body {
	height: 100%;
	overflow: hidden;
	/*有效防止在页面进行手动刷新时显示内置滚动条*/
}
