/* global transition css */


/* @keyframes fade */



 @keyframes fade-in {
 	0% {
 		opacity: 0;
 	} /*初始状态 透明度为0*/
 	40% {
 		opacity: 0;
 	} /*过渡状态 透明度为0*/
 	100% {
 		opacity: 1;
 	} /*结束状态 透明度为1*/
 }
 @-webkit-keyframes fade-in {
 	/*针对webkit内核*/
 	0% {
 		opacity: 0;
 	}
 	40% {
 		opacity: 0;
 	}
 	100% {
 		opacity: 1;
 	}
 }
 
  /* fade */
 .fade-enter-active,
 .fade-leave-active {
 	transition: opacity 0.28s;
 }

 .fade-enter,
 .fade-leave-active {
 	opacity: 0;
 }

 /* fade-transform */
 .fade-transform-leave-active,
 .fade-transform-enter-active {
 	transition: all 1.1s;
 }

 .fade-transform-enter {
 	opacity: .001;
 	transform: translateX(-10px);
 }

 .fade-transform-leave-to {
 	opacity: 0.88;
 	transform: translateX(0px);
 }

 /* breadcrumb transition */
 .breadcrumb-enter-active,
 .breadcrumb-leave-active {
 	transition: all .5s;
 }

 .breadcrumb-enter,
 .breadcrumb-leave-active {
 	opacity: 0;
 	transform: translateX(20px);
 }

 .breadcrumb-move {
 	transition: all .5s;
 }

 .breadcrumb-leave-active {
 	position: absolute;
 }

 .slide-fade-enter-active {
 	transition: all .3s ease;
 }

 .slide-fade-leave-active {
 	transition: all .8s cubic-bezier(1.0, 0.4, 0.7, 1.0);
 }

 .slide-fade-enter,
 .slide-fade-leave-to

 /* .slide-fade-leave-active for below version 2.1.8 */
 	{
 	transform: translateX(-10px);
 	opacity: 0;
 }

 .el-zoom-in-center-enter-active,
 .el-zoom-in-center-leave-active {
 	-webkit-transition: all .3s cubic-bezier(.55, 0, .1, 1);
 	transition: all .3s cubic-bezier(.55, 0, .1, 1)
 }

 .el-zoom-in-center-enter,
 .el-zoom-in-center-leave-active {
 	opacity: 0;
 	-webkit-transform: scaleX(0);
 	transform: scaleX(0)
 }
